
body{
	font-family: quicksand, sans-serif;	
	/* background-color:var(--light_blue); */
}
.header_section{
	top:0px;
	left:0px;
	z-index:9999;
	background-color:var(--dark-transparent);
	position:fixed;
	width:100%;
}

.active{
	font-family: Quicksand, sans-serif;
    font-size: var(--fs16);
    font-weight: 700;
	color:var(--light_blue);
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.5px;
}
.menu{
	padding:0px;
}

.menu >ul >li >a{
	color:var(--white);
    font-size:  var(--fs14);
	padding:25px 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.5px;
	transition:1s ;
}
.menu ul li a:hover{
	color:var(--blue)!important;
}
.submenu_1{
	position:relative;
}
.menu li a.active {
    color: var(--blue) !important;
}
.dm1{
	display:none;
	position:absolute;
	top:60px;
	border-radius:0px;
	width:max-content;
	left:14px;
}
.submenu_1:hover .dm1{
	display:block;
}
.dm1 a{
	color:var(--black);
	background-color:var(--white);
	padding:15px 10px;
    font-size: var(--fs12);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.5px;
	display:block;
	text-decoration:none;
	border-bottom:1px solid gray;
}
.dropdown-menu {
    border: 0;
    margin: 0;
}
.dm1 a:last-child{
	border-bottom:none;
}
.submenu_2{
	position:relative;
}
.dm_2{
	display:none;
	position:absolute;
	top:60px;
	left:14px;
	/* width:100%; */
	border-radius:0px;
	width:max-content;
}
.submenu_2:hover .dm_2{
	display:block;
}
.dm_2 a{
	color:var(--black);
	background-color:var(--white);
	padding:15px 10px;
    font-size:  var(--fs12);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.5px;
	display:block;
	text-decoration:none;
	border-bottom:1px solid gray;
}
.dm_2 a:last-child{
	border-bottom:none;
}

.carousel-item{
	background-size:cover;
	height:660px;
	position:relative;
	top:0px;
	left:0px;
}
.carousel-item::before{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	background:rgb(0,0,0,0.5);
	top:0px;
	left:0px;
}
.carousel_content{
	top:30%;
	left:9%;
}
.carousel_content a{
	border:2px solid var(--light_blue);
	border-radius:100px;
	width:max-content;
	color:var(--white);
	padding:15px 30px;
	display:inline-block;
	margin-top:30px;
	background:transparent;
	text-transform:capitalize;
}
.carousel_content a:hover{
	background-color:var(--light_blue);
	border:2px solid var(--light_blue);
	text-decoration:none;
}
.carousel_content h1{
	color:var(--white);
    font-family: "Raleway", Sans-serif;
    font-size: var(--fs65);
    font-weight: 800;
	text-transform:capitalize;
}
.inner_slider{
	position:relative;
}
.carousel_box {
    position: absolute;
    z-index: 10;
    bottom: 15%;
    width: 100%;
    left: 50%;
    transform: translatex(-50%);
}
.carousel_box_content_inner{
	width:100%;
	padding:30px 40px;
	background:var(--white);
}
.f-c-type{
	border-radius:100px;
	font-size:var(--fs16);
}
input.f-c-type {
    appearance: none;
    background-image: url(../images/date.png);
    background-position: calc(100% - 12px) 50%;
    background-size: 15px;
    padding-right: 38px!important;
    background-repeat: no-repeat;
    height: 45px!important;
}
select.f-c-type {
    appearance: none;
    background-image: url(../images/user.png);
    background-position: calc(100% - 12px) 50%;
    background-size: 15px;
    padding-right: 32px!important;
    background-repeat: no-repeat;
    height: 45px!important;
}
.btn-primary{
	background:var(--blue);
	color:var(--white);
	border-color:var(--blue);
    height: 50px;
}
.btn-primary:hover{
	background:var(--light_blue);
	border-color:var(--light_blue);
}
.carousel_box_content_inner form {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.slides ul{
	display:grid;
    right: 0;
	left:auto;
    top: 50%;
	bottom:50%;
	margin-right:4%!important;
	margin:auto 0px;
}
.slides ul li{
	height:7px;
	width:7px;
	border-radius:10px;
	border:0px;
	margin:15px;
}
.carousel-indicators .active {
    opacity: 1;
    outline-offset: 10px;
    outline-style: solid;
    outline-width: 2px;
    background: var(--light_blue);
}
.carousel_box_content_inner div img{
	width:15px;
}
.submit_btn a:hover{
	text-decoration:none;
	background:var(--light_blue);
}
.submit_btn a{
	background:var(--blue);
	color:var(--white);
	border-radius:100px;
	padding:12px auto;
}
.common_section{
	padding:80px 0px;
	background-color: var(--cream);
}
.span_content{
	color:var(--blue);
	margin-bottom:8px!important;
	letter-spacing:1px;
	display:block;
	font-size:var(--fs16);
	font-weight:700!important;
}
.span_content_2{
	color:var(--blue);
	margin-bottom:8px!important;
	letter-spacing:1px;
	display:block;
	font-size:var(--fs18);
	font-weight:700!important;
}
.navbar-dark .navbar-nav .nav-link{
	color:var(--white);
}
a.span_content{
	font-size:var(--fs16);
}
a.span_content:hover{
	color:var(--light_blue);
	text-decoration:none;
}
.common_ctn h2{
	font-family:"Raleway", Sans-serif;
	font-weight:700;
	line-height:40px;
	font-size:var(--fs45);
}
 .common_ctn p {
	margin-top:15px!important;
    margin:0 auto;
	color:var(--gray);
	font-size: var(--fs16);
	margin-bottom:0px!important;
    max-width: 1000px;
}
.common_row_1{
	padding-top:60px;
}
.common_flex_1_img img{
	width:100%;
}
.common_flex_1_ctn{
	display:table;
	width:100%;
	height:100%;
	vertical-align:middle;
}

.common_content_1{
	display:table-cell;
	vertical-align:middle;
}
.common_content_1 p {
	margin-bottom:15px!important;
	color:var(--gray);
	font-size: var(--fs16);
    max-width: 1000px;
}
.heading_h2{
    font-family: "Raleway", Sans-serif;
    font-size:var(--fs32);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 38px;
    color: var(--black);
}
.common_content_1 h5{
	color:var(--blue);
}
.common_content_1 button{
	border-radius:100px;
	border:none;
	color:var(--white);
	padding:12px 24px;
	background:var(--blue);
}
.common_content_1 button:hover{
	background:var(--light_blue)
}
p.price_per_day{
	margin-bottom:16px!important;
	font-weight:700!important;
	padding-top:10px;
	font-size:var(--fs20);
	line-height:26px;
}
.video_section{
	background-image:url('../images/img_1.jpg');
	background-size:cover;
	padding:50px 0px;
	height:320px;
	position:relative;
}
.video_section::before{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	background:rgb(0,0,0,0.5);
	top:0px;
	left:0px;
}
.navbar-toggler span{
	color:var(--white);
}
.navbar-toggler{
	border:0px;
}
.video_ctn{
	max-width:100%;
	margin:0px auto;
	top:50%;
	bottom:50%;
}
.video_ctn h3 {
    margin: 0px auto;
    font-size: var(--fs20);
    color: var(--white);
    z-index: 99;
    line-height: 40px;
    position: relative;
}
.play_btn i{
	padding:30px;
	border-radius:50%;
	color:var(--black);
    height: 70px;
	background:var(--white);
    margin-top: 40px;
	position:relative;
	transition:1s;
}

.play_btn i:hover{
	transform: scale( 1.1);
	color:var(--white);
	background:var(--light_blue);
}
.destination_section{
	padding:80px 0px;
}
.item img{
	max-height:85px;
	max-width:100px;
}
.partner_section{
	padding-bottom:80px;
}
.footer_section{
	padding:40px 0px;
	background-color:var(--dark-blue);
	color:var(--white);
}
.footer_logo{
	padding-bottom:20px;
}
.footer_content p{
	color:var(--white);
}
.footer_scl_media i{
    border-radius: 100%;
    background: var(--white);
    text-align: center;
    height: 40px;
	width:40px;
    align-items: center;
    color: var(--light_blue);
    display: inline-block;
    justify-content: center;
    margin: 10px 10px 10px 0px;
    padding: 12px;
    font-size: var(--fs18);
}
.footer_scl_media i:hover{
	color:var(--white);
	background:var(--light_blue);
}
.footer_contact a:hover {
    color: var(--light_blue);
    text-decoration: none;
}
.footer_heading h2{
	font-size:var(--fs24);
	font-family: "Raleway", Sans-serif;
	line-height: 38px;
	margin:20px 0px;
	font-weight:700;
}
.footer_contact a {
    color: var(--light-gray);
    display: block;
    height: 26px;
	font-size:var(--fs16);
    padding-bottom: 10px;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
	display: flex;
    gap: 5px;
}
.copy_right{
	padding:10px 0px;
}
.copy_right p{
	margin:0px;
}
.item_img {
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer_content p{
	font-size:var(--fs16);
}
.footer_contact p{
    font-size: var(--fs16);
}
.footer_contact a span{
	display:inline-block;
	padding-left:10px;
	
}
.inner_slider #slide_show .container {
    position: relative!important;
    height: 100%;
}
.inner_slider #slide_show .carousel-caption {
    position: absolute;
    left: 0px !important;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white);
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 100%;
}
.copy_right p{
	font-size:var(--fs14);
	margin-bottom:0px;
}
.copy_right{
	background:black;
}